@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Regular.eot');
    src: url('../fonts/AlegreyaSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Regular.woff') format('woff'),
         url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Medium.eot');
    src: url('../fonts/AlegreyaSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AlegreyaSans-Medium.woff') format('woff'),
    url('../fonts/AlegreyaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Bold.eot');
    src: url('../fonts/AlegreyaSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AlegreyaSans-Bold.woff') format('woff'),
    url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro-Regular.eot');
    src: url('../fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Intro-Regular.woff') format('woff'),
         url('../fonts/Intro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
